# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Build
dist/
build/
.cache/
out/

# Env
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
.DS_Store
*.swp

# Logs
logs/
*.log
logs/**/*.log

# Misc
coverage/
temp/
tmp/
*.pid
*.seed
*.pid.lock

# OS
Thumbs.db
